<div class="text-white flex flex-col items-center space-y-2">
	<div class="font-medium">Built with PartyKit and Astro</div>
	<div>
		<a class="underline" href="https://docs.partykit.io" target="_blank">
			Docs
		</a>{' '}
		|{' '}
		<a
			class="underline"
			href="https://github.com/partykit/partypoll"
			target="_blank"
		>
			GitHub
		</a>{' '}
		|{' '}
		<a
			class="underline"
			href="https://docs.partykit.io/tutorials/add-partykit-to-a-nextjs-app"
			target="_blank"
		>
			Tutorial
		</a>
	</div>
</div>
